	*{margin:0;
	padding:0;
	}

	 body{
	 	font-family: arial;
	 	background:#ecf0f1;
		padding:12px; 
		font-size:18px;
	 }
		
		h1{
			margin:12px;
			text-align:center;
		}
		h2 {
			text-transform:uppercase;
			text-align:center;
			color:#666;
			 font-size:16px;
			 margin-bottom:12px;
			}
		

   li{
   	background:#9b59b6; 
   	list-style:none;
   	color:#ffffff;
    padding:12px;
     border:solid 12px #ecf0f1; 
     margin-bottom:12px;
 	}
